.shopify-section-group-main-header-group .container.container--large.section-spacing.container--with-aside-paddings {
    position: absolute;
    max-width: 100% !important;
    margin-top: -120px;
}
.quick-view__body label.pill.pill--large:not(.selected) {
    display: none;
}
.product-card__btn-wrapper {
    opacity: 0.5;
}

body .back-to-top-button {
    bottom: 100px!important;
}

.breadcrumbs {
    font-size: 14px;
}
.product-card__actions {
    max-width: 50px;
}

.product-form__mobile-sticky-button .product-price__current-price {
    position: absolute;
    z-index: 999;
    font-size: 12.5px;
    padding: 3px 5px;
    font-weight: 700;
    color: white;
}


@media screen and (min-width: 1200px) {
  product-info.fixed {
      position: fixed;
      right: calc((105% - var(--gsc-container-width)) / 2);
      background: white;
      z-index: 999;
  }
  .product__info-wrapper.fixed {
      margin-top: -70px;
  }
  .fixed .product-content-tab,
  .fixed .custom-product-properties,
  .fixed .product-general-info-block h1,
  .fixed .custom-app-block--inside-product-section,
  .fixed .product-general-info-block__vendor,
  .fixed .product-variant-picker__list{
      display:none;
  }
  .fixed .product-price__content {
      margin-bottom: -20px;
      position: absolute;
      top: 43px;
      z-index: 999;
  }
  .fixed .product-quantity__wrap {
    min-width: 40%;
    position: absolute;
    right: 34px;
    margin-top: 0px;
  }
  .product-details__container {
      max-width: 60%;
  }
}

body button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
    position: fixed !important;
    right: 185px;
    top: 66px;
    z-index: 9999;
    background: transparent!important;
    color: #f73a6d !important;
}
body .intrada-wishlist--trigger-icon .intrada-wishlist--count {
    position: absolute;
    bottom: 20px;
    right: 4px;
}

/*.scrolled ~ section button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered*/
.intrada-wishlist--trigger-icon.scrolled{
    top: 22px !important;
}



@media screen and (max-width: 1200px) {
  body button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
      right: 180px;
  }
}
@media screen and (max-width: 767px) {
  body button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
      top: 59px !important;
      right: 90px;
  }
   .scrolled button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
      top: 15px !important;
  }
}
@media screen and (max-width: 380px) {
  body button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
      right: 90px;
  }
}

.footer-linking .link-row {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-linking h5 {
    display: none;
}
.footer-linking {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.footer-linking h6 {
    margin-bottom: 20px;
}
.footer-linking .footer-link {
  text-decoration: none;
  color: black!important;
  font-weight: 600;
  transition: color 0.3s;
}

.footer-linking .footer-link:hover {
  color: #0056b3;
}

.testimonials__container  {
  max-width: 1120px;
  overflow: hidden;
  margin: auto;
}
span.link__text,
h3.featured-article__title.h4 a,
a.article-footer-posts__post-link{
    color: black !important;
}
h1.article__title {
    font-size: 40px;
    font-weight: 700;
}
.testimonials__container .quote__text p {
  font-size: 16px;
}
.card-carousel__slide pre {
    display: none;
}
a.unstyled-link.product-breadcrumbs-block__link {
    color: black !important;
}
.logo-list__container {
   max-width: 1120px;
}

.footer__title {
  color: #F73B6D;
  text-transform: uppercase;
  font-weight: bold;
}

input[placeholder="E-Mail-Adresse"] {
  background-color: white;
  border: none;
}

input[placeholder="E-Mail-Adresse"] + button {
  background: #F73B6D;
  color: white;
}

input[placeholder="E-Mail-Adresse"] + button:hover {
  background: black !important;
  color: white;
}

.header__nav {
  text-transform: uppercase;
}

.header__nav .header__dropdown {
  text-transform: initial;
}

shape-swatch[data-color="Mehrfarbig"]::before {
  background: url('https://cdn.shopify.com/s/files/1/0810/8874/1711/files/bunt-150x150.png?v=1717979839');
  background-size: cover;
}

#MainContent .shopify-policy__container {
  max-width: 800px;
  padding-bottom: 40px;
  width: 100%;
}
#MainContent .shopify-policy__title {
  padding: 20px 0 60px;
}
@media screen and (max-width: 420px) {
  #MainContent .shopify-policy__title h1 {
     font-size: 24px;
  }
  #MainContent .shopify-policy__container h2 {
      font-size: 20px;
  }
}

form div.panels + p {
  visibility: hidden;
}


@media screen and (min-width: 768px) {
  .product-details .container.container--with-video-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .product-details .container.container--with-video-grid  .product-details__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: min(4.8rem, 4.8rem - var(--gsc-container-padding));
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4.8rem;
  }
  
  .product-details .container.container--with-video-grid .product-details__video-container {
    width: calc((100% / 12)* 7);
  }
  
  .product-details .container.container--with-video-grid  .product-details__video {
    position: sticky;
    top: 4rem;
  }

  .product-details .container.container--with-video-grid .product-details__container .accordeon-plus {
    width: 40rem;
    margin: 0 auto;
  }
}

.product-details .container.container--with-video-grid .product-details__video {
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: initial;
}

.globo-form-control .help-block.error {
  color: #ffc9c9 !important;
}

shopify-paypal-button {
  position: relative;
}

.cart-drawer__in-cart-related-products-heading {
  color: rgb(247 58 109);
}

.image-banner__title.h1,
.h1.rich-text__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #232323;
}
.carousel__container .image-banner__title.h1{
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  color: #fff;
}

/*****widget styles***/
.widget_container_stars_badge iframe {
  transform: scale(.5);
  margin-left: -55px;
  border-radius: 5px;
  bottom: 68px !important;
}
#trustami-stars-badge-mobile-view iframe {
  transform: scale(0.6);
  background-color: white;
  bottom: -5px !important;
  margin-right: -80px;
}
#taCloseBtnStarsMobile > div {
  transform: scale(0.7) !important;
  margin-right: -10px !important;
  margin-top: 7px !important;
}

@media screen and (max-width: 767px) {
  .cc-floating.cc-bottom.cc-right.cc-default.cc-window.isense-cc-window {
    bottom: 25px;
  }
  #trustami-stars-badge-mobile-view iframe {
    transform: scale(1)!important;
    margin-right: 0px!important;
  }
}

.shopify-section-header {
  opacity: 1 !important;
}
.header__menu-item-label {
  white-space: nowrap;
}

.header__wide-menu float-element.header__menu:nth-child(-n+2) {
  top: -5px !important;
}

.header__menu-item--small,
.header__menu-item--medium {
  padding: 6px 0;
}

ul.sub-menu li {
  width: max-content;
  /*margin: 0 auto;*/
  font-weight: 600;
}

ul.classic-pagination__list>li,  
ul.classic-pagination__list>li a{
    text-decoration: none;
    font-weight: 600;
}
ul.classic-pagination__list {
    display: flex;
    justify-content: center;
}
pagination-component.classic-pagination.shop__classic-pagination {
    display: none;
}
.seite {
  white-space: nowrap!important;
  text-transform: none!important;
}
h2.loo-popup-title {
    margin-bottom: 15px;
}
.loo-wishlist-item-title {
    font-size: 20px;
}
.coder-comparable-button.coder-comparable-button-right.coder-comparable-button-showed {
    right: 0;
    bottom: 150px;
}
.shopify-app-block .loo-centerright {
    transform: scale(0.7);
    right: -30px;
}
@media screen and (max-width: 768px) {
  .shopify-app-block .loo-centerright {
      top: 50%!important;
      margin-top: 25px !important;
  }
}

.intrada-wishlist--button svg {
   transform: scale(1.5);
}
.intrada-wishlist--button.intrada-wishlist--active svg path {
    fill: #f73a6d!important;
}
button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
    position: fixed;
    right: 20px;
    top: 50%;
    background: #f73a6d;
}

a:visited:not(.icon):not(.product-card__title):not(.header__item):not(.btn):not(.header__dropdown a):not(.classic-pagination__link):not(.social-list__item-link){
    color: #5b5b5d; /*darkblue*/
}
a.article__breadcrumbs-item:visited{
    color: black!important;
}
.content-menu .sub-menu li a:visited{
    color: #4b4949 !important;
}
/************************/
product-media, product-media-carousel {
    opacity: 1 !important;
    display: block !important;
}
.quote__text-wrap {
    opacity: 1;
}
/************************/

.shopify-section.place-under-transparent-header{
   overflow: visible !important;
   z-index: 1;  
}
.product-card__inner {
    z-index: 0;
}
float-element#HeaderDropdownMenu-ohrringe,
.header__dropdown-menu {
    z-index: 9999!important;
}
.collection-hero.section {
    overflow: visible !important;
}
.content-menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 15px;
}

.content-menu .sub-menu {
    position: absolute;
    top: 55%;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 220px;
    padding: 10px;
    list-style: none;
}

.content-menu .sub-menu li {
    padding: 0px 10px;
}

.content-menu .sub-menu li a {
    text-decoration: underline;
    color: black;
    display: block;
    padding: 5px 0;
    font-size: 14px;
}

.content-menu .sub-menu li a:hover {
    text-decoration: underline;
}

.content-menu:hover .sub-menu,
.content-menu.active .sub-menu {
    display: block;
}
.filters__option-count {
    display: inline-block !important;
}
.product-card__dots-spinner-wrap,
#SidebarFiltersDesktop-loadingOverlay,
.shop__loading-overlay,
.product-card__dots-spinner-wrap{
  display: none!important;
}