.shopify-section-group-main-header-group .container.container--large.section-spacing.container--with-aside-paddings {
    position: absolute;
    max-width: 100% !important;
    margin-top: -120px;
}
.quick-view__body label.pill.pill--large:not(.selected) {
    display: none;
}
.product-card__btn-wrapper {
    /* opacity: 0.5; */
}

body .back-to-top-button {
    bottom: 100px!important;
}

.breadcrumbs {
    font-size: 14px;
}
.product-card__actions {
    max-width: 50px;
}

.product-form__mobile-sticky-button .product-price__current-price {
    position: absolute;
    z-index: 999;
    font-size: 12.5px;
    padding: 3px 5px;
    font-weight: 700;
    color: white;
}

button.intrada-wishlist--trigger-icon:not(.top),
.intrada-wishlist--count:not(.top),{
  display: none;
}
button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered:not(.top) {
    display: none;
}
button.top.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
    position: relative;
    margin-top: 2px;
    margin-right: -20px;
}

@media screen and (min-width: 1200px) {
  product-info.fixed {
      position: fixed;
      right: calc((105% - var(--gsc-container-width)) / 2);
      background: white;
      z-index: 999;
  }
  .product__info-wrapper.fixed {
      margin-top: -70px;
  }
  .fixed .product-content-tab,
  .fixed .custom-product-properties,
  .fixed .product-general-info-block h1,
  .fixed .custom-app-block--inside-product-section,
  .fixed .product-general-info-block__vendor,
  .fixed .product-variant-picker__list,
  .fixed .product-quantity__wrap{
      display:none;
  }
  .fixed .product-price__content {
      margin-bottom: -20px;
      position: absolute;
      top: 43px;
      z-index: 999;
  }
  .fixed .product-quantity__wrap {
    min-width: 40%;
    position: absolute;
    right: 34px;
    margin-top: 0px;
  }
  .product-details__container {
      max-width: 60%;
  }
}

body button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
    z-index: 9999;
    background: transparent!important;
    color: #f73a6d !important;
}
body .intrada-wishlist--trigger-icon .intrada-wishlist--count {
    position: absolute;
    bottom: 20px;
    right: 4px;
}







.footer-linking .link-row {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-linking h5 {
    display: none;
}
.footer-linking {
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.footer-linking h6 {
    margin-bottom: 20px;
}
.footer-linking .footer-link {
  text-decoration: none;
  color: black!important;
  font-weight: 600;
  transition: color 0.3s;
}

.footer-linking .footer-link:hover {
  color: #0056b3;
}

.testimonials__container  {
  max-width: 1120px;
  overflow: hidden;
  margin: auto;
}
span.link__text,
h3.featured-article__title.h4 a,
a.article-footer-posts__post-link{
    color: black !important;
}
h1.article__title {
    font-size: 40px;
    font-weight: 700;
}
.testimonials__container .quote__text p {
  font-size: 16px;
}
.card-carousel__slide pre {
    display: none;
}
a.unstyled-link.product-breadcrumbs-block__link {
    color: black !important;
}
.logo-list__container {
   max-width: 1120px;
}

.footer__title {
  color: #F73B6D;
  text-transform: uppercase;
  font-weight: bold;
}

input[placeholder="E-Mail-Adresse"] {
  background-color: white;
  border: none;
}

input[placeholder="E-Mail-Adresse"] + button {
  background: #F73B6D;
  color: white;
}

input[placeholder="E-Mail-Adresse"] + button:hover {
  background: black !important;
  color: white;
}

.header__nav {
  text-transform: uppercase;
}

.header__nav .header__dropdown {
  text-transform: initial;
}

shape-swatch[data-color="Mehrfarbig"]::before {
  background: url('https://cdn.shopify.com/s/files/1/0810/8874/1711/files/bunt-150x150.png?v=1717979839');
  background-size: cover;
}

#MainContent .shopify-policy__container {
  max-width: 800px;
  padding-bottom: 40px;
  width: 100%;
}
#MainContent .shopify-policy__title {
  padding: 20px 0 60px;
}
@media screen and (max-width: 420px) {
  #MainContent .shopify-policy__title h1 {
     font-size: 24px;
  }
  #MainContent .shopify-policy__container h2 {
      font-size: 20px;
  }
}

form div.panels + p {
  visibility: hidden;
}


@media screen and (min-width: 768px) {
  .product-details .container.container--with-video-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .product-details .container.container--with-video-grid  .product-details__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: min(4.8rem, 4.8rem - var(--gsc-container-padding));
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4.8rem;
  }
  
  .product-details .container.container--with-video-grid .product-details__video-container {
    width: calc((100% / 12)* 7);
  }
  
  .product-details .container.container--with-video-grid  .product-details__video {
    position: sticky;
    top: 4rem;
  }

  .product-details .container.container--with-video-grid .product-details__container .accordeon-plus {
    width: 40rem;
    margin: 0 auto;
  }
}

.product-details .container.container--with-video-grid .product-details__video {
  width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: initial;
}

.globo-form-control .help-block.error {
  color: #ffc9c9 !important;
}

shopify-paypal-button {
  position: relative;
}

.cart-drawer__in-cart-related-products-heading {
  color: rgb(247 58 109);
}

.image-banner__title.h1,
.h1.rich-text__heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #232323;
}
.carousel__container .image-banner__title.h1{
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  color: #fff;
}

/*****widget styles***/
.widget_container_stars_badge iframe {
  transform: scale(.5);
  margin-left: -55px;
  border-radius: 5px;
  bottom: 68px !important;
}
#trustami-stars-badge-mobile-view iframe {
  transform: scale(0.6);
  background-color: white;
  bottom: -5px !important;
  margin-right: -80px;
}
#taCloseBtnStarsMobile > div {
  transform: scale(0.7) !important;
  margin-right: -10px !important;
  margin-top: 7px !important;
}

@media screen and (max-width: 767px) {
  .cc-floating.cc-bottom.cc-right.cc-default.cc-window.isense-cc-window {
    bottom: 25px;
  }
  #trustami-stars-badge-mobile-view iframe {
    transform: scale(1)!important;
    margin-right: 0px!important;
  }
}

.shopify-section-header {
  opacity: 1 !important;
}
.header__menu-item-label {
  white-space: nowrap;
}

.header__wide-menu float-element.header__menu:nth-child(-n+2) {
  top: -5px !important;
}

.header__menu-item--small,
.header__menu-item--medium {
  padding: 6px 0;
}

ul.sub-menu li {
  width: max-content;
  /*margin: 0 auto;*/
  font-weight: 600;
}

ul.classic-pagination__list>li,  
ul.classic-pagination__list>li a{
    text-decoration: none;
    font-weight: 600;
}
ul.classic-pagination__list {
    display: flex;
    justify-content: center;
}
pagination-component.classic-pagination.shop__classic-pagination {
    display: none;
}
.seite {
  white-space: nowrap!important;
  text-transform: none!important;
}
h2.loo-popup-title {
    margin-bottom: 15px;
}
.loo-wishlist-item-title {
    font-size: 20px;
}
.coder-comparable-button.coder-comparable-button-right.coder-comparable-button-showed {
    right: 0;
    bottom: 150px;
}
.shopify-app-block .loo-centerright {
    transform: scale(0.7);
    right: -30px;
}
@media screen and (max-width: 768px) {
  .shopify-app-block .loo-centerright {
      top: 50%!important;
      margin-top: 25px !important;
  }
}

.intrada-wishlist--button svg {
   transform: scale(1.5);
}
.intrada-wishlist--button.intrada-wishlist--active svg path {
    fill: #f73a6d!important;
}
button.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
    position: fixed;
    right: 20px;
    top: 50%;
    background: #f73a6d;
}

a:visited:not(.icon):not(.product-card__title):not(.header__item):not(.btn):not(.header__dropdown a):not(.classic-pagination__link):not(.social-list__item-link){
    color: #5b5b5d; /*darkblue*/
}
a.article__breadcrumbs-item:visited{
    color: black!important;
}
.content-menu .sub-menu li a:visited{
    color: #4b4949 !important;
}
/************************/
product-media, product-media-carousel {
    opacity: 1 !important;
    display: block !important;
}
.quote__text-wrap {
    opacity: 1;
}
/************************/

.shopify-section.place-under-transparent-header{
   overflow: visible !important;
   z-index: 1;  
}
.product-card__inner {
    z-index: 0;
}
float-element#HeaderDropdownMenu-ohrringe,
.header__dropdown-menu {
    z-index: 9999!important;
}
.collection-hero.section {
    overflow: visible !important;
}
.content-menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 15px;
}

.content-menu .sub-menu {
    position: absolute;
    top: 55%;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 220px;
    padding: 10px;
    list-style: none;
}

.content-menu .sub-menu li {
    padding: 0px 10px;
}

.content-menu .sub-menu li a {
    text-decoration: underline;
    color: black;
    display: block;
    padding: 5px 0;
    font-size: 14px;
}

.content-menu .sub-menu li a:hover {
    text-decoration: underline;
}

.content-menu:hover .sub-menu,
.content-menu.active .sub-menu {
    display: block;
}
.filters__option-count {
    display: inline-block !important;
}
.product-card__dots-spinner-wrap,
#SidebarFiltersDesktop-loadingOverlay,
.shop__loading-overlay,
.product-card__dots-spinner-wrap{
  display: none!important;
}

@media (min-width: 768px) {
  .product-price.mobile, .mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .product-price.mobile .product-price__current-price {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .product-form__mobile-sticky-button.is-visible .product-price__current-price {
    display: none;
    position: absolute;
    z-index: 999;
    top: -2.8rem;
    right: 2rem;
    font-size: 2.5rem;
    background: #fff;
            color: #000000;
        border-radius: 5px 5px 0 0;
  }
  .product-form__mobile-sticky-button.is-visible, .product-form__mobile-sticky-button {
    display: none;
  }
}
@media(max-width: 767px) {
	button.top.intrada-wishlist--trigger-icon.intrada-wishlist--rendered {
		top: 0px;
	}
}
.shopify-block  button.intrada-wishlist--button.intrada-wishlist--checked svg * {
    vector-effect: non-scaling-stroke;
    stroke: #f73a6d !important;
}

.shopify-block  button.intrada-wishlist--button.intrada-wishlist--checked .intrada-wishlist--button--when-not-added, .shopify-block  button.intrada-wishlist--button.intrada-wishlist--checked .intrada-wishlist--button--when-added {
	color: black;
}
button.product-card__btn {
  background: #000;
}

/* Wishlist */
@keyframes rotate{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.intrada-wishlist *,.intrada-wishlist *::before,.intrada-wishlist *::after{box-sizing:border-box}.intrada-wishlist body,.intrada-wishlist h1,.intrada-wishlist h2,.intrada-wishlist h3,.intrada-wishlist h4,.intrada-wishlist h5,.intrada-wishlist h6,.intrada-wishlist p,.intrada-wishlist li,.intrada-wishlist figure,.intrada-wishlist figcaption,.intrada-wishlist blockquote,.intrada-wishlist dl,.intrada-wishlist dd{margin:0}.intrada-wishlist ul[class],.intrada-wishlist ol[class]{list-style:none}.intrada-wishlist ol,.intrada-wishlist ul{list-style:none;padding:0;margin:0}.intrada-wishlist img{max-width:100%;display:block}.intrada-wishlist input,.intrada-wishlist button,.intrada-wishlist textarea,.intrada-wishlist select{font:inherit;color:inherit}.intrada-wishlist button{border:0;border-radius:0;display:inline-block;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:0;margin:0}button.intrada-wishlist-block-btn,a.intrada-wishlist-block-btn{border:0;border-radius:0;display:inline-block;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:16px;margin:0;background:var(--wishlist-ui-primary-button-background);color:var(--wishlist-ui-primary-button-text);border:1px solid var(--wishlist-ui-primary-button-border);transition:all .35s ease;text-decoration:none}button.intrada-wishlist-block-btn[disabled],a.intrada-wishlist-block-btn[disabled]{opacity:.3}button.intrada-wishlist-block-btn.intrada-wishlist-block-btn--outline,a.intrada-wishlist-block-btn.intrada-wishlist-block-btn--outline{background:var(--wishlist-ui-secondary-button-background);color:var(--wishlist-ui-secondary-button-text);border-color:var(--wishlist-ui-secondary-button-border)}button.intrada-wishlist-block-btn.intrada-wishlist-block-btn--outline:hover,a.intrada-wishlist-block-btn.intrada-wishlist-block-btn--outline:hover{background:var(--wishlist-ui-primary-button-background);color:var(--wishlist-ui-primary-button-text);border-color:var(--wishlist-ui-primary-button-border)}.intrada-wishlist--button{border:0;border-radius:0;display:inline-block;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:0;margin:0;appearance:none;border:0 none;padding:0;cursor:pointer;background:rgba(0,0,0,0);display:inline-flex;align-items:center;gap:8px;transition:all .35s ease}.intrada-wishlist--button:not(.intrada-wishlist--checked){opacity:0}.intrada-wishlist--button .intrada-wishlist--button--when-added{display:none}.intrada-wishlist--button.intrada-wishlist--active .intrada-wishlist--button--when-added{display:block}.intrada-wishlist--button.intrada-wishlist--active .intrada-wishlist--button--when-not-added{display:none}.intrada-wishlist--button.intrada-wishlist--active svg path{fill:#111921}.intrada-wishlist--floating-button{border:0;display:inline-flex;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:0;margin:0;align-items:center;position:fixed;z-index:10;--edge-ofset: 16px;transition:all .35s ease}.intrada-wishlist--floating-button .intrada-wishlist--button--when-added{display:none}.intrada-wishlist--floating-button.intrada-wishlist--active .intrada-wishlist--button--when-added{display:block}.intrada-wishlist--floating-button.intrada-wishlist--active .intrada-wishlist--button--when-not-added{display:none}.intrada-wishlist--floating-button.intrada-wishlist--active svg path{fill:currentColor}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label{padding:4px 18px;background:var(--wishlist-ui-background);border-radius:100px}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label.intrada-wishlist--floating-button--position--middle-left{left:var(--edge-ofset);top:50%;transform:rotate(270deg) translate(-50%, 50%);transform-origin:left}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label.intrada-wishlist--floating-button--position--bottom-left{left:var(--edge-ofset);bottom:var(--edge-ofset);transform:rotate(270deg) translate(0%, 50%);transform-origin:left}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label.intrada-wishlist--floating-button--position--middle-right{right:var(--edge-ofset);top:50%;transform:rotate(90deg) translate(50%, 50%);transform-origin:right}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label.intrada-wishlist--floating-button--position--bottom-right{right:var(--edge-ofset);bottom:var(--edge-ofset);transform:rotate(90deg) translate(0%, 50%);transform-origin:right}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label svg{margin-right:10px;width:16px;height:auto;color:var(--wishlist-ui-text)}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--with-label span{color:var(--wishlist-ui-text);font-size:14px}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only{display:flex;justify-content:center;align-items:center;background:#000;padding:8px;width:48px;height:48px;border-radius:50%}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only.intrada-wishlist--floating-button--position--middle-left{left:var(--edge-ofset);top:50%;transform:translateY(-50%)}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only.intrada-wishlist--floating-button--position--bottom-left{left:var(--edge-ofset);bottom:var(--edge-ofset)}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only.intrada-wishlist--floating-button--position--middle-right{right:var(--edge-ofset);top:50%;transform:translateY(-50%)}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only.intrada-wishlist--floating-button--position--bottom-right{right:var(--edge-ofset);bottom:var(--edge-ofset)}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only.intrada-wishlist--active svg path{fill:#fff}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only svg{width:24px;height:auto}.intrada-wishlist--floating-button.intrada-wishlist--floating-button--icon-only svg path{stroke:#fff;stroke-width:2}.intrada-wishlist--button--circle{border:0;border-radius:0;display:inline-flex;justify-content:center;align-items:center;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:0;margin:0;position:absolute;top:8px;right:8px;display:flex;justify-content:center;align-items:center;background:#fff;padding:8px;width:32px;height:32px;border-radius:50%;z-index:2;transition:all .35s ease}.intrada-wishlist--button--circle svg{width:16px;height:auto}.intrada-wishlist--button--circle:not(.intrada-wishlist--checked){opacity:0}.intrada-wishlist--button--circle.intrada-wishlist--active svg path{fill:currentColor}.intrada-wishlist--popup{padding:65px;display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;z-index:99999999999;background:rgba(0,0,0,.08);width:100%;height:100%;color:var(--wishlist-ui-text);transition:all .35s ease}@media screen and (max-width: 834px){.intrada-wishlist--popup{padding:12px}}.intrada-wishlist--popup:not([aria-expanded=true]){opacity:0;visibility:hidden;pointer-events:none}.intrada-wishlist--popup.intrada-wishlist--share-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current{cursor:auto}.intrada-wishlist--popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:before,.intrada-wishlist--popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:after{opacity:1;visibility:visible}.intrada-wishlist--popup.intrada-wishlist--loading .intrada-wishlist--popup-inner>*{opacity:0;visibility:hidden}.intrada-wishlist--popup.intrada-wishlist--share-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current{max-width:none}.intrada-wishlist--popup .intrada-wishlist--popup-inner{background:var(--wishlist-ui-popup-background);border-radius:8px;padding:24px;width:100%;max-width:530px;max-height:100%;overflow-y:auto;position:relative;min-height:300px}.intrada-wishlist--popup .intrada-wishlist--popup-inner:before,.intrada-wishlist--popup .intrada-wishlist--popup-inner:after{content:"";display:block;position:absolute;opacity:0;visibility:hidden;transition:opacity .35s ease,visibility .35s ease}.intrada-wishlist--popup .intrada-wishlist--popup-inner:before{width:100%;height:100%;background:rgba(255,255,255,.8);z-index:11;left:0;top:0}.intrada-wishlist--popup .intrada-wishlist--popup-inner:after{width:30px;height:30px;top:calc(50% - 15px);left:calc(50% - 15px);background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggZD0nTTIwIDEwYzAgNS41MjMtNC40NzcgMTAtMTAgMTBTMCAxNS41MjMgMCAxMCA0LjQ3NyAwIDEwIDB2MmMtNC40MTggMC04IDMuNTgyLTggOHMzLjU4MiA4IDggOCA4LTMuNTgyIDgtOGgyeicgZmlsbD0nIzAwMCc+PC9wYXRoPjwvc3ZnPg==");background-size:contain;background-position:center center;background-repeat:no-repeat;animation:rotate .5s linear infinite;z-index:12;pointer-events:none}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner{max-height:100%;padding:16px}}.intrada-wishlist--popup .intrada-wishlist--popup-inner::-webkit-scrollbar{width:10px;background-color:rgba(0,0,0,0);border-radius:4px}.intrada-wishlist--popup .intrada-wishlist--popup-inner::-webkit-scrollbar-thumb{background-color:rgba(222,222,222,.5);border-radius:4px}.intrada-wishlist--popup .intrada-wishlist--popup-inner::-webkit-scrollbar-track{margin:0;border-radius:4px}.intrada-wishlist--popup .intrada-wishlist--popup-inner>*{transition:all .35s ease}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header{display:flex;justify-content:space-between;align-items:center;gap:20px}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header{flex-wrap:wrap}}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher{position:relative}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current{background:var(--wishlist-ui-background);border-radius:100px;padding:4px 16px;gap:8px;display:flex;align-items:center;font-size:14px;cursor:pointer;max-width:200px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current[aria-expanded=true] svg{transform:rotate(180deg)}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current[aria-expanded=true]+ul{opacity:1;visibility:visible}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current span{color:var(--wishlist-ui-text);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher .intrada-wishlist--popup-switcher-current svg{transition:all .35s ease;min-width:10px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher ul{position:absolute;left:0;top:calc(100% + 8px);background:var(--wishlist-ui-background);padding:8px 16px;border:1px solid var(--wishlist-ui-border);min-width:105px;opacity:0;visibility:hidden;transition:all .35s ease;z-index:5;scrollbar-width:none;max-height:200px;max-width:200px;overflow-y:auto}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher ul::-webkit-scrollbar{width:0px;height:0;padding:0;display:none;margin:0;border:none;background:rgba(0,0,0,0)}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher ul li{padding:8px 0;cursor:pointer;color:var(--wishlist-ui-text);transition:all .35s ease;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-switcher ul li:hover{opacity:1}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions{display:flex;align-items:center;gap:16px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li{position:relative}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li button{appearance:none;border:0 none;background:none;color:var(--wishlist-ui-text);text-decoration:underline;padding:0;display:flex;align-items:center;gap:8px;font-size:12px}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li button span{display:none}}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay{position:absolute;right:-10px;top:calc(100% + 20px);box-shadow:0px 2px 12px 0px rgba(0,0,0,.1019607843);z-index:5;transition:all .35s ease}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay:not(.shown){opacity:0;visibility:hidden}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay ul{display:flex;gap:24px;padding:16px 24px;position:relative;background:#fff;z-index:1;border-radius:8px;justify-content:center;min-width:170px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay:before{content:"";width:0px;height:0px;border-style:solid;border-width:0 12px 16px 12px;border-color:rgba(0,0,0,0) rgba(0,0,0,0) #fff rgba(0,0,0,0);transform:rotate(0deg);position:absolute;bottom:100%;right:10px;filter:drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.1019607843))}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay .intrada-wishlist--share-copied{background:#fff;color:#000;font-size:14px;background:#fff;padding:10px 16px;border-radius:8px;box-shadow:0px 2px 12px 0px rgba(0,0,0,.1019607843);position:absolute;bottom:calc(100% + 10px);left:0;transition:all .35s ease}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-actions li .intrada-wishlist--share-overlay .intrada-wishlist--share-copied:not(.shown){opacity:0;visibility:hidden}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items{display:flex;margin:-5px;list-style-type:none;flex-wrap:wrap;padding:16px 0 0 0}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>*{padding:5px;width:33.3333333333%;list-style-type:none}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>*{width:50%}}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* p{margin:0}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* a{text-decoration:none;color:inherit}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>*>*+*{margin-top:4px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* .intrada-wishlist--item-image{display:block;height:0;padding-bottom:120%;position:relative;margin-bottom:4px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* .intrada-wishlist--item-image img{object-fit:cover;position:absolute;width:100%;height:100%;object-position:center center}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* .intrada-wishlist--item-image .intrada-wishlist--button--circle{background:var(--wishlist-ui-popup-heart-background);border-radius:50%;display:inline-flex;justify-content:center;align-items:center}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* .intrada-wishlist--item-title{font-size:14px;color:var(--wishlist-ui-text)}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--items>* .intrada-wishlist--item-prices{color:var(--wishlist-ui-text);font-size:14px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--empty{text-align:center;color:var(--wishlist-ui-text);font-size:14px;margin-top:20px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-buttons{display:flex;gap:16px;margin-top:24px;justify-content:center;align-items:center}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-buttons{flex-wrap:wrap}}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-buttons li{width:50%;text-align:center}@media screen and (max-width: 834px){.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-buttons li{width:100%}}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-buttons li *{width:100%}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-login-prompt{margin-top:16px;background:var(--wishlist-ui-background);padding:12px;text-align:center;color:var(--wishlist-ui-text);font-size:14px}.intrada-wishlist--popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-login-prompt a{color:inherit;font-size:inherit;text-decoration:underline}.intrada-wishlist--add-item-popup{padding:65px;display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;z-index:99999999999;background:rgba(0,0,0,.08);width:100%;height:100%;color:var(--wishlist-ui-text);transition:all .35s ease}@media screen and (max-width: 834px){.intrada-wishlist--add-item-popup{align-items:flex-end;padding:0}}.intrada-wishlist--add-item-popup:not([aria-expanded=true]){opacity:0;visibility:hidden;pointer-events:none}.intrada-wishlist--add-item-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:before,.intrada-wishlist--add-item-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:after{opacity:1;visibility:visible}.intrada-wishlist--add-item-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner>*{opacity:0;visibility:hidden}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner{background:var(--wishlist-ui-popup-background);border-radius:8px;padding:24px;width:100%;max-width:530px;max-height:calc(100vh - 130px);overflow-y:auto;position:relative;min-height:300px;scrollbar-width:none}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner::-webkit-scrollbar{width:0px;height:0;padding:0;display:none;margin:0;border:none;background:rgba(0,0,0,0)}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner:before,.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner:after{content:"";display:block;position:absolute;opacity:0;visibility:hidden;transition:opacity .35s ease,visibility .35s ease}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner:before{width:100%;height:100%;background:rgba(255,255,255,.8);z-index:11;left:0;top:0}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner:after{width:30px;height:30px;top:calc(50% - 15px);left:calc(50% - 15px);background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggZD0nTTIwIDEwYzAgNS41MjMtNC40NzcgMTAtMTAgMTBTMCAxNS41MjMgMCAxMCA0LjQ3NyAwIDEwIDB2MmMtNC40MTggMC04IDMuNTgyLTggOHMzLjU4MiA4IDggOCA4LTMuNTgyIDgtOGgyeicgZmlsbD0nIzAwMCc+PC9wYXRoPjwvc3ZnPg==");background-size:contain;background-position:center center;background-repeat:no-repeat;animation:rotate .5s linear infinite;z-index:12;pointer-events:none}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner>*{transition:all .35s ease}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header{display:flex;align-items:center;margin-bottom:26px;gap:16px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--image{display:block;width:48px;height:48px;min-width:48px;padding:0;position:relative;margin-bottom:4px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--image img{object-fit:contain;position:absolute;width:100%;height:100%;object-position:center center}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info{flex-grow:1}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info>*+*{margin-top:4px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info p,.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info span{color:var(--wishlist-ui-text);font-size:16px;line-height:1}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info p a,.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info span a{color:inherit;font-size:inherit;text-decoration:none}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-header .intrada-wishlist--popup-header--info span{font-size:14px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists>p{margin-bottom:16px;color:var(--wishlist-ui-text);font-size:16px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul>*+*{margin-top:16px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li{border:1px solid var(--wishlist-ui-border);padding:0 16px;background:var(--wishlist-ui-background);border-radius:4px;display:flex;align-items:center;gap:16px;cursor:pointer;min-height:58px}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li.intrada-wishlist-item-active span{background:var(--wishlist-ui-checkbox-selected);border-color:var(--wishlist-ui-checkbox-selected)}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li.intrada-wishlist-item-active span svg{opacity:1}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li span{display:flex;justify-content:center;align-items:center;width:24px;height:24px;min-width:24px;min-height:24px;border:1px solid var(--wishlist-ui-text);border-radius:4px;transition:all .35s ease}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li span svg{width:16px;height:auto;opacity:0;transition:all .35s ease;pointer-events:none}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li p{color:var(--wishlist-ui-text);font-size:16px;line-height:1;margin-right:10px;padding:16px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li input{background:rgba(0,0,0,0);appearance:none;border:0 none;box-shadow:none;outline:none;color:var(--wishlist-ui-text);font-size:16px;line-height:1;align-self:stretch;flex-grow:1}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li input::placeholder{opacity:.4;color:inherit;font-size:inherit}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-lists ul li small{color:var(--wishlist-ui-text-faded);font-size:14px;line-height:1;margin-left:auto;white-space:nowrap}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons{display:flex;gap:16px;margin-top:24px}@media screen and (max-width: 834px){.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons{flex-wrap:wrap}}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons li{width:50%}@media screen and (max-width: 834px){.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons li{width:100%}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons li+*{margin-top:16px}}.intrada-wishlist--add-item-popup .intrada-wishlist--popup-inner .intrada-wishlist--add-item-popup-buttons li *{width:100%}.intrada-wishlist--trigger-icon{border:0;border-radius:0;display:inline-block;cursor:pointer;-webkit-appearance:none;background:rgba(0,0,0,0);padding:0;margin:0;display:flex;justify-content:center;align-items:center;padding:10px;position:relative}.intrada-wishlist--trigger-icon:not(.intrada-wishlist--rendered) .intrada-wishlist--count{opacity:0;visibility:hidden}.intrada-wishlist--trigger-icon svg{width:20px;height:auto}.intrada-wishlist--trigger-icon .intrada-wishlist--count{position:absolute;bottom:5px;right:4px;width:15px;height:15px;background:var(--wishlist-ui-header-heart-count-background);border-radius:50%;color:var(--wishlist-ui-header-heart-count-text);text-align:center;line-height:15px;font-size:11px;font-weight:bold;transition:all .35s ease}.intrada-wishlist--add-item-success-popup{padding:96px 49px;display:flex;justify-content:flex-end;align-items:flex-start;position:fixed;top:0;left:0;z-index:99999999999;width:100%;height:100%;color:var(--wishlist-ui-text);transition:all .35s ease}@media screen and (max-width: 834px){.intrada-wishlist--add-item-success-popup{align-items:flex-end;padding:0}}.intrada-wishlist--add-item-success-popup:not([aria-expanded=true]){opacity:0;visibility:hidden;pointer-events:none}.intrada-wishlist--add-item-success-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:before,.intrada-wishlist--add-item-success-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner:after{opacity:1;visibility:visible}.intrada-wishlist--add-item-success-popup.intrada-wishlist--loading .intrada-wishlist--popup-inner>*{opacity:0;visibility:hidden}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner{background:var(--wishlist-ui-popup-background);border-radius:8px;padding:24px;width:100%;max-width:500px;max-height:calc(100vh - 130px);overflow-y:auto;position:relative;box-shadow:0 4px 4px 0 rgba(0,0,0,.25);scrollbar-width:none}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner::-webkit-scrollbar{width:0px;height:0;padding:0;display:none;margin:0;border:none;background:rgba(0,0,0,0)}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner>*{transition:all .35s ease}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-close{position:absolute;top:0;right:0;line-height:0;padding:10px}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner .intrada-wishlist--popup-close svg{width:24px;height:auto}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner div{line-height:1.72}.intrada-wishlist--add-item-success-popup .intrada-wishlist--popup-inner div>*+*{margin-top:16px}.intrada-wishlist--selector{width:100%;position:relative}.intrada-wishlist--selector .intrada-wishlist--selector-trigger{padding:12px;border:1px solid currentColor;background:#fff;display:flex;justify-content:space-between;align-items:center;font-size:13px;cursor:pointer;min-height:54px}.intrada-wishlist--selector .intrada-wishlist--selector-trigger svg{transition:all .15s ease}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown{position:absolute;top:calc(100% - 1px);left:0;background:#fff;z-index:1;max-height:0px;transition:all .15s ease;overflow:hidden;width:100%}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul{border:1px solid currentColor;border-top:0 none;overflow:auto;max-height:200px}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul::-webkit-scrollbar{width:5px}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul::-webkit-scrollbar-track{background:rgba(0,0,0,0)}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul::-webkit-scrollbar-thumb{background-color:rgba(222,222,222,.5);border-radius:0;border:0 none}@media screen and (max-width: 834px){.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul{max-height:150px}}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul li{padding:12px;cursor:pointer;font-size:13px;transition:all .15s ease}.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul li.active,.intrada-wishlist--selector .intrada-wishlist--selector-dropdown ul li:hover{text-shadow:1px 0 0 currentColor}.intrada-wishlist--selector.open .intrada-wishlist--selector-dropdown{max-height:500px}.intrada-wishlist--selector.open .intrada-wishlist--selector-trigger svg{transform:rotate(180deg)}